@use 'mixins';

.topbar {
    padding: 20px;
    margin: 0;
    display: flex;
    align-self: start;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
    /*border-bottom: 1px solid $border;
    background-color: $fgcolor;
    color: $text;*/
}

.schnif {
    display: flex;
}

.navigation {
    display: flex;
    justify-content: space-between;
}