@use 'mixins';
@use 'navbar';

$bgcolor: #3B2E2B;
$border: #201A1B;
$link: #FEFE93;
$fgcolor: rgba(81, 47, 37, 0.9);
$text: #FEAA58;
$fadedtext: #CB5A2D;
$bgimglink: "../images/gallerybg.webp";

.topbar {
    /*@include mixins.navbar;*/
    border-bottom: 1px solid $border;
    background-color: $fgcolor;
    color: $text;
}

body {
    @include mixins.base;
    background-image: url($bgimglink);
    background-color: $bgcolor;
    color: $text;
}

.main {
    @include mixins.cmain;
}

a {
    color: $link;
}

.story {
    background-color: $fgcolor;
    border: 1px solid $border;
    align-self: center;
}

.sfooter {
    color: $fadedtext;
}

.sbody {
    display: grid;
    text-indent: 0;
    align-items: center;
    text-align: center;
}

.row {
    display: flex;
    margin: 0;
    padding: 0;
    padding: 5px;
}

img {
    width: 95%;
    border-radius: 20px;
}