:root {
    --bgcolor: #3B2E2B;
    --border: #201A1B;
    --link: #FEFE93;
    --fgcolor: rgba(81, 47, 37, 0.9);
    --text: #FEAA58;
    --fadedtext: #CB5A2D;
}

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    background-image: url("../images/gallerybg.webp");
    background-color: var(--bgcolor);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text);
}

div {
    display: flex;
    margin: 3px;
}

.main {
    width: 70%;
    margin: 0 auto;
}

.story {
    background-color: var(--fgcolor);
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
}

.stitle {
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 0.5;
}

.sbody {
    text-align: left;
    width: 90%;
    display: block;
    justify-content: center;
    align-items: center;
}

.sfooter {
    color: var(--fadedtext);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 0.2;
}

.chapternav {
    font-size: 12px;
    line-height: 1.5;
}

a {
    color: var(--link);
}

img {
    display: inline-block;
    width: 49%;
    border-radius: 8px;
    margin: 0;
    border: 0;
}