.badge {
    background-color: #dadfea;
    border: 1px solid #2a2a2a;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.badgedate {
    color: #677087;
}

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.blog {
    width: 70%;
}

.menu {
    width: 30%;
}

div {
    display: flex;
    margin: 3px;
}

.main {
    width: 70%;
    margin: 0 auto;
}