:root {
    --bgcolor: #3f1a0a;
    --border: #170909;
    --link: #a1a7f4;
    --fgcolor: rgba(31, 16, 5, 0.95);
    --text: #757aba;
    --fadedtext: #504175;
}

.badge {
    background-color: var(--fgcolor);
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menubadge {
    background-color: var(--fgcolor);
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 20px;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.badgedate {
    color: var(--fadedtext);
}

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    background-image: url("../images/background.png");
    background-color: var(--bgcolor);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text);
}

.blog {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.menu {
    width: 30%;
    height: auto;
}

div {
    display: flex;
    margin: 3px;
}

.main {
    width: 70%;
    margin: 0 auto;
}

img {
    width: 200px;
}

.blogimages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.blogimg {
    width: 40%;
}

a {
    color: var(--link);
}