:root {
    --brown: #3f1a0a;
    --black: #170909;
    --lily: #a1a7f4;
    --darkbrown: #1f1005;
    --blue: #757aba;
    --purple: #3d2a52;
}

.badge {
    background-color: var(--darkbrown);
    border: 1px solid var(--black);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menubadge {
    background-color: var(--darkbrown);
    border: 1px solid var(--black);
    border-radius: 8px;
    padding: 20px;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.badgedate {
    color: var(--purple);
}

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    background-image: url("../images/background.png");
    background-color: var(--brown);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--blue);
}

.blog {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.menu {
    width: 30%;
    height: auto;
}

div {
    display: flex;
    margin: 3px;
}

.main {
    width: 70%;
    margin: 0 auto;
}

.story {
    background-color: var(--darkbrown);
    border: 1px solid var(--black);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}

.stitle {
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 0.5;
}

.sbody {
    text-align: left;
    text-indent: 2em;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.sfooter {
    color: var(--purple);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 0.2;
}

.chapternav {
    font-size: 12px;
    line-height: 1.5;
}

.hr {
    text-align: center;
}

img {
    width: 200px;
}

a {
    color: var(--lily);
}